<section class="vh-100">
  <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                  class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form (ngSubmit)="onSubmit()" #regForm="ngForm">
                  <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                      <h3 class="text-primary fw-bold" style="margin-left: 10rem; margin-bottom: 1rem; color: rgb(78, 78, 122);">Create Account</h3>
                  </div>

                  <!-- Full Name -->
                  <div class="form-outline mb-3 mt-0">
                      <input type="text" [(ngModel)]="user.fullName" name="fullName" class="form-control form-control-lg"
                          placeholder="Enter Full Name" #fullName="ngModel" required />
                      <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="alert" style="margin: 0; color: red;">
                          *Full Name is required.
                      </div>
                  </div>

                  <!-- Email -->
                  <div class="form-outline mb-3 mt-0">
                      <input type="email" [(ngModel)]="user.email" name="email" class="form-control form-control-lg"
                          placeholder="Enter Email" #email="ngModel" email="true" required />
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert" style="margin: 0; color: red;">
                          <div *ngIf="email.errors?.['required']">*Email is required.</div>
                          <div *ngIf="email.errors?.['email']">Email address is not valid.</div>
                      </div>
                  </div>

                    <!-- Phone Number -->
                    <div class="form-outline mb-3 mt-0">
                      <input type="number" [(ngModel)]="user.phone" name="phone" class="form-control form-control-lg"
                          placeholder="Enter Contact No." #phone="ngModel" required />
                      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert" style="margin: 0; color: red;">
                          *Contact No. is required.
                      </div>
                  </div>

                

                  <!-- Country -->
                  <div class="form-outline mb-3 mt-0">
                      <input type="text" [(ngModel)]="user.country" name="country" class="form-control form-control-lg"
                          placeholder="Enter Country" #country="ngModel" required />
                      <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert" style="margin: 0; color: red;">
                          *Country is required.
                      </div>
                  </div>

                    <!-- Street Address -->
                    <div class="form-outline mb-3 mt-0">
                      <input type="text" [(ngModel)]="user.street_address" name="street_address" class="form-control form-control-lg"
                          placeholder="Enter Street Address" #streetAddress="ngModel" required />
                      <div *ngIf="streetAddress.invalid && (streetAddress.dirty || streetAddress.touched)" class="alert" style="margin: 0; color: red;">
                          *Street Address is required.
                      </div>
                  </div>

                  <!-- City -->
                  <div class="form-outline mb-3 mt-0">
                      <input type="text" [(ngModel)]="user.city" name="city" class="form-control form-control-lg"
                          placeholder="Enter City" #city="ngModel" required />
                      <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert" style="margin: 0; color: red;">
                          *City is required.
                      </div>
                  </div>

                  <!-- State -->
                  <div class="form-outline mb-3 mt-0">
                      <input type="text" [(ngModel)]="user.state" name="state" class="form-control form-control-lg"
                          placeholder="Enter State" #state="ngModel" required />
                      <div *ngIf="state.invalid && (state.dirty || state.touched)" class="alert" style="margin: 0; color: red;">
                          *State is required.
                      </div>
                  </div>

                  <!-- Postal Code -->
                  <div class="form-outline mb-3 mt-0">
                      <input type="text" [(ngModel)]="user.postal_code" name="postal_code" class="form-control form-control-lg"
                          placeholder="Enter Postal Code" #postalCode="ngModel" required />
                      <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="alert" style="margin: 0; color: red;">
                          *Postal Code is required.
                      </div>
                  </div>

                

                  <!-- Password -->
                  <div class="form-outline mb-3 mt-0">
                      <input type="password" [(ngModel)]="user.password" name="password" class="form-control form-control-lg"
                          placeholder="Enter Password" #pass="ngModel" required />
                      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert" style="margin: 0; color: red;">
                          *Password is required.
                      </div>
                  </div>

                  <!-- Confirm Password -->
                  <div class="form-outline mb-3 mt-0">
                      <input type="password" [(ngModel)]="user.passConfirm" name="passConfirm" class="form-control form-control-lg"
                          placeholder="Confirm Password" #passConfirm="ngModel" required />
                      <div *ngIf="passConfirm.invalid && (passConfirm.dirty || passConfirm.touched)" class="alert" style="margin: 0; color: red;">
                          *Password confirmation is required.
                      </div>
                  </div>

                  <div class="text-center text-lg-start mt-4 pt-2">
                      <button *ngIf="regForm.valid && user.password == user.passConfirm" type="submit" class="btn btn-primary btn-lg"
                          style="padding-left: 2.5rem; padding-right: 2.5rem; display: block; margin: 0 auto;">Register</button>
                  
                      <button *ngIf="!regForm.valid || !(user.password == user.passConfirm)" style="color:aliceblue" [disabled]="true" class="btn btn-lg"
                          style="padding-left: 2.5rem; padding-right: 2.5rem; display: block; margin: 0 auto;">Register</button>
                  
                      <p class="small fw-bold mt-2 pt-1 mb-0" style="text-align: center;">Don't have an account? 
                          <a [routerLink]="['/login']" class="link-danger">Login</a>
                      </p>
                  </div>
              </form>

              <!-- Modal -->
              <div class="modal fade" id="registrationSuccessModal" tabindex="-1" role="dialog" 
                    aria-labelledby="registrationSuccessModalLabel" aria-hidden="true" 
                    [ngClass]="{'show': showModal}" [style.display]="showModal ? 'block' : 'none'" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="registrationSuccessModalLabel">Registration Successful</h5>
                                  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    Your registration has been successfully completed! You can now log in.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                                </div>
                            </div>
                      </div>
              </div>
          </div>
      </div>
  </div>
</section>

<div style="margin-top: 14rem;"></div>
<app-footer></app-footer>
