<div class="container mt-2"  style="margin-left: 33%;">
  <!--   <div class="card card-block mb-2">
      <h4 class="card-title">Card 1</h4>
      <p class="card-text">Welcom to bootstrap card styles</p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>   -->
    
     
    
     
     
      <div class="container ">
        <div class="card item-card card-block ">
        <h4 class="item-card-title text-right"><i class="material-icons"></i></h4>
          <img src="{{ image_link }}" alt="Photo of sunset">
          <h5 class="card-title ms-5 mt-3 mb-3 center">{{ name }}</h5>
         
        </div>
      </div>    
  