<app-navbar
   [totalAddedQuantity]="totalAddedQuanty"
></app-navbar>

<app-slider></app-slider>


<h2 style="text-align:center; margin-top: 3rem;">Trending</h2 >   
<div class="d-flex flex-wrap justify-content-center gap-3">
    <div *ngFor="let pr of trendingProducts" class="product-item-container">
          <app-product-item
            [product]="pr"
            (onAddCart)="addAddedQuantity()"
          ></app-product-item>
    </div>
</div>
      


<h2 style="text-align:center; margin-top: 3rem;">Catagories</h2 >
<div id="catagory-section">
    <div  *ngFor="let cat of catagories">
        <app-catagory-item 
              [name]="cat.name" [image_link]="cat.image_link"
              (click)="onCatClick(cat)"
        
        ></app-catagory-item>
    </div>
</div>



<app-footer></app-footer>
           
        

   

