

   
    
    <footer class="footer-39201" id="main-containerr">
      <div class="container">
        <div class="row">
          <div class="col-md mb-4 mb-md-0">
            <h3>Store</h3>
            <ul class="list-unstyled nav-links">
              <li><a href="#">Men</a></li>
              <li><a href="#">Women</a></li>
              <li><a href="#">Children</a></li>
              <li><a href="#">New Arrivals</a></li>
              <li><a href="#">Top Brands</a></li>
              <li><a href="#">Special Offers</a></li>
            </ul>
          </div>
          <div class="col-md mb-4 mb-md-0">
            <h3>About</h3>
            <ul class="list-unstyled nav-links">
              <li><a href="#">About us</a></li>
              <li><a href="#">Clients</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Best sellers</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md mb-4 mb-md-0">
            <h3>Legal</h3>
            <ul class="list-unstyled nav-links">
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Legality</a></li>
              <li><a href="#">Author License</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <h3>Subscribe</h3>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor ducimus doloremque earum ullam. Architecto voluptatum odio magni.</p>
            <form action="#" class="subscribe">
                <input type="text" class="form-control" placeholder="Enter your e-mail">
                <input type="submit" class="btn btn-submit" value="Send">
              </form>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-12">
            <div class="border-top my-5"></div>
          </div>
          <div class="col-md-6">
            <p><small>&copy; 2019 All Rights Reserved.</small></p>
          </div>
          <div class="col-md-6 text-md-right">
            <ul class="social list-unstyled">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-pinterest"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
              <li><a href="#"><span class="icon-behance"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
