
<app-admin-navbar></app-admin-navbar>

<div id="formContainer"class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
  <form  (ngSubmit)="onSubmit()" #addProduct = "ngForm">
    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
      <h3 style="margin-left: 10rem;margin-bottom:2rem;color: rgb(78, 78, 122); color:green">ADD a New Product:</h3>
      
    </div>

    
     
    <!-- name input -->
    <div class="form-outline mb-4">
      <label for="name" class="fw-bold">Enter Product Name:</label>
      <input type="text"  class="form-control form-control-lg"
       [(ngModel)]="product.name" name="name" #name="ngModel"  name="true" required />
     
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert">

          <div *ngIf="name.errors?.['required']" style="color:red;margin-bottom: 0.5rem;">
            *name is required.
          </div>
     
        </div>


    </div>

    <!-- catagory input -->
    <div class="form-outline mb-4">
      <label for="catagory"  class="fw-bold">Enter Catagory:</label>
      <input type="text" id="form3Example4" class="form-control form-control-lg"
       [(ngModel)]="product.catagory" name="catagory" #catagory="ngModel"  required />
     
        <div *ngIf="catagory.invalid && (catagory.dirty || catagory.touched)"
           class="alert">

          <div *ngIf="catagory.errors?.['required']" style="color:red;margin-bottom: 0.5rem;">
            *catagory is required.
          </div>
     
        </div>
    </div>

    <div class="form-outline mb-4">
      <label for="brand"  class="fw-bold">Enter Brand:</label>
      <input type="text" id="form3Example4" class="form-control form-control-lg"
        [(ngModel)]="product.brand" name="brand" #brand="ngModel"  required />
     
        <div *ngIf="brand.invalid && (brand.dirty || brand.touched)"
           class="alert">

          <div *ngIf="brand.errors?.['required']" style="color:red;margin-bottom: 0.5rem;">
            *brand is required.
          </div>
     
        </div>
    </div>

    <div class="form-outline mb-4">
      <label for="stockAvailable"  class="fw-bold">Enter Avaialable Stock:</label>
      <input type="number" id="form3Example4" class="form-control form-control-lg"
        [(ngModel)]="product.stockAvailable" name="stockAvailable" #stockAvailable="ngModel"  required />
     
        <div *ngIf="stockAvailable.invalid && (stockAvailable.dirty || stockAvailable.touched)"
           class="alert">

          <div *ngIf="stockAvailable.errors?.['required']" style="color:red;margin-bottom: 0.5rem;">
            *Stock is required.
          </div>
     
        </div>
    </div>

    <div class="form-outline mb-4">
      <label for="unitPrice"  class="fw-bold">Enter Unit Price:</label>
      <input type="number" id="form3Example4" class="form-control form-control-lg"
       [(ngModel)]="product.unitPrice" name="unitPrice" #unitPrice="ngModel"  required />
     
        <div *ngIf="unitPrice.invalid && (unitPrice.dirty || unitPrice.touched)"
           class="alert">

          <div *ngIf="unitPrice.errors?.['required']" style="color:red;margin-bottom: 0.5rem;">
            *Unit Price is required.
          </div>
     
        </div>
    </div>

    <div class="form-outline mb-4">
      <label for="imageURL"  class="fw-bold">Enter image URL:</label>
      <input type="text" id="form3Example4" class="form-control form-control-lg"
      [(ngModel)]="product.imageURL" name="imageURL" #imageURL="ngModel"  required />
     
        <div *ngIf="imageURL.invalid && (imageURL.dirty || imageURL.touched)"
           class="alert">

          <div *ngIf="imageURL.errors?.['required']" style="color:red;margin-bottom: 0.5rem;">
            *Image URL is required.
          </div>
     
        </div>
    </div>

    <div class="form-outline mb-4">
      <label for="isTrending"  class="fw-bold"><span style="margin-right: 0.8rem;"> Trending Status:</span></label>
      <select name="isTrending" [(ngModel)]="product.isTrending"  #isTrending="ngModel"  required >
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
     
     
        <div *ngIf="isTrending.invalid && (isTrending.dirty || isTrending.touched)"
           class="alert">

          <div *ngIf="isTrending.errors?.['required']" style="color:red;margin-bottom: 0.5rem;">
            *Trending Status is required.
          </div>
     
        </div>
    </div>

   


      

    <div class="text-center text-lg-start mt-4 pt-2">
      <button  *ngIf="addProduct.valid" type="submit"   class="btn btn-primary btn-lg"
        style="padding-left: 2.5rem; padding-right: 2.5rem;">Add Product</button>

        <button  *ngIf="!addProduct.valid" style="color:aliceblue" [disabled]="true" class="btn btn-lg"
        style="padding-left: 2.5rem; padding-right: 2.5rem;">Add Product</button>

    </div>

  </form>
</div>


<app-admin-footer></app-admin-footer>


